@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;


}

section {
    margin: 100px 0;
}

button {
    padding: 15px 20px;
    margin-top: 10px;
    background: #FF5959;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;

    color: #121212
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 20px 0;
    text-align: center;

    color: #707070;
}

/* banner-section-strat */

.banner-section {
    background-image: url("images/slider-1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100Vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.banner-title {
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 25px 0;
}

/* banner-section-end */



/* donate-today-section-strat */
.donate-today-section {
    text-align: center;
}

.ammount-card {
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ammount {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    border-radius: 5px;
    margin-left: 22px;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    color: #707070;
}

.ammount:nth-child(1) {
    margin-left: 0;
}

.ammount:hover {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

input[type=text]{
    border: 1px solid transparent;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #B3B3B3;

}

hr {
    margin: 0 300px;
    text-align: center;
    border: 1px solid #DADADA
}

/* donate-today-section-end */


/* donate plan section strat */

.donate-plan-section {
    margin: 0 150px;
}

.donate-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.plan {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    padding: 25px;
}

.plan2 {
    background: rgba(255, 89, 89, 0.1);
}


.plan-title {
    font-weight: 600;
    margin: 15px 0;
    font-size: 22px;
    color: #121212
}

.plan-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;

}

/* donate plan section end */
.contribution-section{
    margin:0 150px;
    display: flex;
    gap: 50px;

}
.contribute-left{
    width: 50%;
}

.title{
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #121212;
}
.description p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-top: 20px;
}
.contribute-right {
    width: 50%;
}
.contribute-right img{
    width: 100%;
}
/* contribution section strat */

/* contribution section end */


/* update-section-strat */

.update-container{
    background: #FFF4D6;
    padding: 80px;
    margin: 0 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=email]{
padding: 15px 20px;
font-weight: 600;
    font-size: 20px;
    border: none;
}

/* update-section-end */




/* responsive for mobile strat */

@media screen and (max-width:576px) {
    section {
        margin: 50px;
    }

    .section-title {
        font-size: 30px;
    }

    /* banner-section-strat */
    .banner-section {
        background-position: center;
        padding: 0 50px;
    }

    .banner-title {
        font-size: 40px;
    }


    /* banner-section-end */



    /* donate-today-section-strat */
    .donate-today-section {}

    .ammount-card {
        margin-top: 20px 0;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .ammount {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;

        font-size: 20px;
    }


    hr {
        margin: 0 50px;
    }


    /* donate plan section strat */

    .donate-plan-section {
        margin: 0;
    }

    .donate-plan, .contribution-section{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .plan {
        margin: 10px 0;
    }

    /* donate plan section end */

/* contribution section strat */

.contribution-section{

    gap: 0;

}
.contribute-left{
    width: 100%;

}
.order{
    order: 1;
}

.order{
    order: 2;
}
.title{
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #121212;
}
.description p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-top: 20px;
}
.contribute-right {
    width: 100%;
    margin: 25px 0;
   
}
.contribute-right img{
    width: 100%;
}

    /* contribution section end */


/* update-section-strat */

.update-container{
   
    padding: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type=email]{
padding: 15px;

font-weight: 600;
    font-size: 20px;
    border: none;
}

/* update-section-end */










}